
h1 {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
}

.contained-information-bloc {
  color: #707070;
  margin-top: 20px;
}

.information-bloc {
  box-shadow: 0px 4px 7px 1px #E5E5E5;
  padding: 10px;
}


.contained-demonstrative {
  background-color: #03a4fa;
  margin-bottom: 15px;
}

.icons-demonstrative {
  display: flex;
  height: 15px;
  gap: 3px;
  margin-right: 5px;
}

.demonstrative-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.demonstrative-name > span {
  font-size: 13px;
  margin-left: 7px;
  color: #707070;
}

.img-demonstrative {
  display: flex;
  height: 70px;
}
