.logo  {
  margin: 0 auto;
  height: 80px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(23, 78, 9);
 
}
.logo > img {
  height: 80px;
  margin-left: 40px;
  padding: 10px;
}

.main {
  background-color: rgb(48, 43, 43);
  height: auto;
  display: flex;
  width: 1200px;
  margin: 10px;
  margin: 0 auto;
}

h1, h2, h3, p{
  font-family:'Open Sans'; 
}

h1 {
  font-size: 50px;

}

h2 {
  margin: 8px;
  font-size: 18px;
  margin-left: 10px;
}

p {
  font-size: 14px;
  margin: 10px;
}

.span-border {
  background-color: blue;
  margin: 0;
}

.coluna > img{
  height: 100px;
  margin-bottom: -10px;
}

.feed {
  background-color: yellow;
  width: 100%;
  padding: 20px;
}

.toolbar{
  margin-bottom: 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding: 20px;
  background-color: aqua;
}

.coluna{
  display: flex;
  background-color: rgb(172, 52, 252);
  border-radius: 5px;
  margin-bottom: 10px;
  align-items: center;
  line-height: 1;

}

.coluna-icon {
 margin-left: 40px;
}

.navbar {
  width: 350px;
  background-color: red;
  padding: 24px;
}

.nav1 {
  background-color: pink;
  line-height: 1.5;
  padding: 10px;
}

.nav1 > button {
  margin-top: 15px;
  padding: 10px 20px;
  display: flex;
  border-radius: 5px;
  cursor: pointer;
  background-color: red;
}

.nav2{
  background-color: aquamarine;
}

.toolba-contained {
  background-color: rgb(224, 127, 127);
  margin-bottom: 5px;
  border-radius: 5px;
}

.icons {
  display: flex;
  height: 20px;
  gap: 8px;
  margin-top: 3px;
}

.toolbar-nav {
  display: flex;
  padding: 2px;
  align-items: center;
  justify-content: space-between;
}

.toolbar-nav > span {
  font-size: 12px;
  margin-left: 7px;
}

.toolbar-img {
  display: flex;
  

}
