
/*************Global*/

h1, h2, h3, p{
  font-family:'Open Sans'; 
}

h1 {
  font-size: 50px;
}

h2 {
  margin: 8px;
  font-size: 18px;
  margin-left: 10px;
}

h3 {
  margin: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

p {
  font-size: 12px;
  margin: 10px;
}

.logo  {
  height: 80px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0px 4px 7px 1px #E5E5E5;
}

.logo > img {
  height: 80px;
  margin-left: 40px;
  padding: 10px;
}

.main {
  height: auto;
  display: flex;
  width: 1200px;
  margin: 10px;
  margin: 0 auto;
}

@media (max-width: 1000px) {
  
.contained-feed {
  text-align: center;
  align-items: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  width: 600px;
}

.logo {
  display: grid;
  gap: 10px;
  margin: 0;
  border-radius: 4px;
  padding: 0px;
}

.logo > img {
  height: 70px;
}


/*  ******************Quando colacarmos os botoáº½s terminaremos
.contained-endomarketing{
  display: inline-block;
  background-color: black;
}

.endomarketing-logo{
  display: inline-block;
  background-color: black;
}
*/

.contained-column {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  justify-items: start;
}

.contained-column > img {
  margin-top: -40px;
  position: absolute;
  height: 50px;
}

.column-icon {
  display: grid;
  margin-left: 500px;
  position: absolute;
 }

.contained-information-context {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  justify-items: start;
  }

.information-context {
  margin-top: 20px;
  width: 260px;
  height: 350px;
  border: none; 
}

.information-context > button {
  margin-left: 75px;
  padding: 5px 10px ;
  align-items: center;
} 

.information-bloc {
  border-style: none;
  border: none;
  width: 260px;
  margin-left: 25px;
 }

 .img-demonstrative {
  height: 60px;
  }
}

 @media (max-width: 600px) {
 .main {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  width: 480px;
}

.contained-column > img {
  height: 0;
}

.column-icon {
  display: grid;
  margin-left: 400px;
  position: absolute;
  height: 40px;
 }

.contained-information-context {
  display: grid;
  grid-template-columns: 1fr;
  flex-wrap: wrap;
  justify-items: center;
  margin-left: 65px;
}

.information-context {
  padding: 20px;
  margin-top: 20px;
  width: 300px;
  height: 345px;
  border-style: ridge;
}

.information-context > button {
  padding: 5px 10px ;
  align-items: center;
} 

.information-bloc {
  border-style: ridge;
  border: 0;
  width: 300px;
  margin-left: 0;
  margin-right: 0;
  }

  .img-demonstrative {
    height: 70px;
  }
}
