
.contained-body {
  background-color: yellow;
}

.contained-information-context {
  width: 350px;
  padding: 24px;
}

.information-context {
  border-style: solid;
  background-color: #FFF2DF;
  line-height: 1.5;
  padding: 10px;
}

.information-context > button {
  margin-top: 15px;
  padding: 10px 20px;
  display: flex;
  border-radius: 5px;
  color: #8B857C;
  cursor: pointer;
  background-color: #FFF2DF;
}


.contained-information-bloc {
  color: #707070;
  border-style:outset;
  margin-top: 20px;
}

.information-bloc {
  padding: 10px;
  background-color: #E5E5E5;
}


.contained-demonstrative {
  background-color: #03a4fa;
  margin-bottom: 15px;
}

.icons-demonstrative {
  display: flex;
  height: 15px;
  gap: 3px;
  margin-right: 5px;
}

.demonstrative-name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
}

.demonstrative-name > span {
  font-size: 12px;
  margin-left: 7px;
  color: #707070;
}

.img-demonstrative {
  display: flex;
  height: 70px;
}
