
h2 {
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

p {
  font-size: 12px;
  margin: 10px;
}

.contained-column{
  display: flex;
  align-items: center;
  box-shadow: 0px 4px 7px 1px #E5E5E5;
  
  width: 810px;
  margin-left: 95px;
  margin-top: 90px;
  margin-bottom: -80px;
}

.column-icon {
margin-right: 20px;
}

.span-border {
  background-color: blue;
  margin: 0;
}


@media (max-width: 1200px) {
  .contained-column{
    display: flex;
    margin-left: 70px;
    width: 750px;
  }
}

@media (max-width: 1000px) {
  
  h2 {
    margin: 8px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 100px;
  }
  
  p {
    margin-left: 100px;

    font-size: 10px;
  }
  

  .contained-column{
    display: flex;
    width: 600px;
    margin-left: 200px;
    margin-top: 90px;
  }

.contained-column > img {
  position: absolute;
  height: 45px;
  margin-left: 8px;
}

.column-icon {
  display: grid;
  margin-left: 550px;
  position: absolute;
 }
}


@media (max-width: 700px) {
  .contained-column{
    display: flex;
    margin-left: 50px;
    width: 600px;
  }
}

 @media (max-width: 600px) {
  h2 {
    margin: 8px;
    font-size: 14px;
    font-weight: bold;
  }
  
  p {
    font-size: 10px;
    margin-left: 7px;

  }
  

  .contained-column{
    display: flex;
    margin-left: 15px;
    width: 450px;
  }

  .contained-column > img {
    height: 0;
  }
  
  .column-icon {
    display: grid;
    margin-left: 400px;
    position: absolute;
    height: 40px;
   }  
}
