
h2 {
  margin: 8px;
  font-size: 16px;
  font-weight: bold;
  margin-left: 10px;
}

p {
  font-size: 12px;
  margin: 10px;
}

.contained-column{
  display: flex;
  margin-bottom: 10px;
  align-items: center;
  line-height: 1.2;
  box-shadow: 0px 4px 7px 1px #E5E5E5;
}

.contained-column > img{
  max-width: 200px;
  margin-left: 10px;
  
}

.column-icon {
margin-right: 20px;

}

.span-border {
  background-color: blue;
  margin: 0;
}